/* h1,p,button */
/* img, h3, p, button */
/* img, h2, p,button */




h1{
    font-size: 40px;
    font-style: italic;
}
p{
    text-align: justify;
    line-height: 10px;
}
button{
    color: white;
    background-color: blue;
    padding-inline: 20px;
    padding-block:15px;
    border-radius: 10px;

}
img{
    height:150px;
    width: 150px;
}
